body{
	display: flex;
	display:-webkit-flex;
	flex-direction: column;
	height:100%

}
.title{
	background-color: rgb(201,201,201);
	text-align: center;
	font-size: 16px;
	height: 30px;
	width:100%;
	line-height: 30px;
    font-weight: 600;
}
.main-panel{
	height: calc(100% - 30px);
	width:100%;
	display: flex;
	flex-direction: row;
}
.left {
	display: flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-wrap: wrap;
	width:80%;
	margin-left: 0;
	height: 100%;
}
#main{
	border: 1px solid #ccc;
	margin: 3px;
	width:1300px;
	height: 600px;
}
#statisticP{
	height:40%;
	position: flex;
	/*flex-direction: */
}
.right {
	display: flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width:20%
}

.layerTitle{
	color: rgb(90, 90, 90);
	  padding: 6px;
	  text-align: center;
	  font-size: 15px;
  }
  .layerTitle input{
	margin:1px;
  }
  /* 次级标题的样式*/
  .sencondLayer{
	display: flex;
	margin:8px 0 0 20px;
  }
  .layer {
    border-bottom: dashed 1px rgb(238,238,238);
    padding: 5px 5px 5px 5px;
    margin: 0px;
 }

 .arrow{
	width: 20px;
	  height: 20px;
	  display: inline-block;
	  position: absolute;
	  left: 0px;
	  top: 0px;
	}
.layerTitle{
position: relative;
}

.active .arrow{
transform: rotate(90deg);
/* transform-origin: 50% 50%; */
}
.arrow::before{
	float: left;
	content: " ";
	height: 6px;
	width: 6px;
	border-width: 2px 2px 0 0;
	border-color:#808088;
	border-style: solid;
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	position: relative;
	top: 25%;
	left: 25%;
	}
.layer .sencondLayer{
display: none
}
.active .sencondLayer{
/* display: none */
display: flex
}

.sencondLayer .info{
	width: 100%;
	background: aliceblue;
}

#countryName{
	    font-size: 32px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 3px;
    margin-bottom: 5px;
}
.tabs_inner{
	pointer-events: none;
}
#ispcInf .title,#operatorInf .title{
	background-color: rgb(201,201,201);
    text-align: center;
    font-size: 16px;
    height: 30px;
    width: 100%;
    margin: 10px 0 10px 0;
    line-height: 30px;
    font-weight: 600;
}
#ispcInfList,#operatorInfList{
	width: 100%;
}
#ispcInfList li,#operatorInfList li{
	line-height: 60px;
	font-size: 20px;
}
.staview{
	height:300px;
	/*border: 1px solid #ccc;*/
	margin: 3px;
	display: inline-block;
	width: 100%;
}

.optgroup{
	background-color: #c9e7ff;
}
